# Required packages for Sculptor
# run: pip install -r requirements.txt

astropy
matplotlib
numpy
pandas
PyQt5
tables
scipy
corner
speconed
emcee
PyYAML
extinction
tqdm
spectres
h5py
linetools
sphinx
ipykernel
nbsphinx
nbsphinx-link
importlib_resources
